.header{
    background-color: rgb(253, 218, 246);
    display: grid;
    grid-template-columns: auto auto ;
    padding: 20px;
}
.nav-bar ul{
    display: grid;
    grid-template-columns: auto auto auto auto; 
    list-style-type: none;
}